body {
  background-color: #fff;
  color: #444;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 987px;
  margin: 0 auto;
  padding: 20px;
}

.hero-banner {
  background-color: #1f7268;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231f7268'/%3E%3Cstop offset='1' stop-color='%231f7268' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23227d72'/%3E%3Cstop offset='1' stop-color='%23227d72' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23227d72'/%3E%3Cstop offset='1' stop-color='%23227d72' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231F7268'/%3E%3Cstop offset='1' stop-color='%231F7268' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%231F7268'/%3E%3Cstop offset='1' stop-color='%231F7268' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2325897D'/%3E%3Cstop offset='1' stop-color='%2325897D' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  height: 100%;
}

.hero-banner .inner {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}
.jacket-hero {
  width: 15.5em;
  margin-top: 48px;
  margin-bottom: 40px;
}

.img-cointainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero-banner h1 {
  font-weight: 800;
  font-size: 2.625rem;
  margin: 0;
  line-height: 40px;
}

.hero-banner h2 {
  font-weight: 400;
  font-size: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
}
.hero-cta-button-container {
  display: flex;
  gap: 1.5em;
  margin-bottom: 40px;
  grid-area: 4/1/5/3;
}

.hero-button {
  width: 12em;
  height: 4em;
  border: 0;
}

.hero-button a {
  color: #fff;
  text-decoration: none;
}

.hero-female-cta {
  background-color: #e76f51;
}

.hero-male-cta {
  background-color: #264653;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.jacket-img img {
  width: 170px;
}

.jacket-img {
  margin-top: 20px;
}

.Card-grid-heading {
  text-transform: uppercase;
}

.product-grid h2 {
  font-size: 14px;
  margin: 0;
}

.product-grid p {
  margin: 0;
}

.product-card-description {
  font-weight: 400;
}

.product-price {
  font-size: 20px;
}

.cta-rain-jackets {
  display: flex;
  flex-direction: column;
}
.male-cta,
.female-cta {
  display: flex;
  flex-direction: column;
}

.male-cta .inner,
.female-cta .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta-male-img {
  background-image: url(/img/kamil-kalbarczyk-lY11p3yNVxE-unsplash.jpg);
  width: 100%;
  height: 288px;
  background-size: cover;
  background-position: center;
}
.cta-female-img {
  background-image: url(/img/johannes-andersson-8XQbEDaCbDM-unsplash.jpg);
  width: 100%;
  height: 288px;
  background-size: cover;
  background-position: center;
}
.cta-button-rain-jackets {
  width: 166px;
  height: 60px;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
}

.pro-flex-cta {
  background-image: url(/img/fishing.png);
  width: 100%;
  height: 414px;
  background-size: cover;
  transform: scaleX(-1);
}

.pro-flex-cta .inner {
  transform: scaleX(-1);
  color: #fff;
}

.pro-flex-cta h2 {
  font-size: 28px;
  font-weight: 800;
}

.pro-flex-cta p {
  font-size: 20px;
}

.pro-flex-cta p span {
  text-decoration: underline;
}

.pro-flex-cta-button {
  background-color: black;
  color: #fff;
  border: 0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  width: 160px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .hero-banner .inner {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
  }

  .hero-cta-button-container {
    margin-top: 40px;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 20px;
  }

  .cta-male-img,
  .cta-female-img {
    display: none;
  }

  .cta-rain-jackets {
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 20px;
    justify-content: space-between;
  }
  .male-cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url(/img/kamil-kalbarczyk-lY11p3yNVxE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 709px;
    height: 564px;
  }
  .female-cta {
    background-image: url(/img/johannes-andersson-8XQbEDaCbDM-unsplash.jpg);
    background-position: center;
    background-size: cover;
    width: 709px;
    height: 564px;
  }
}
